<%- include header%>

    <div class="archive">
        <%if(list){%>

            <%for(var date in list){%>

            <dl>
                <dt><%= date %></dt>
                <%list[date].forEach(function(post){%>
                <dd><span><%= post.date%></span><a href="/article/<%= post.user.name %>/<%= post._id %>"><%= post.title %></a> (作者：<a href="/user/<%= post.user.name %>"><%= post.user.name %></a>)</dd>
                <%});%>
            </dl>

            <%};%>

        <%}else{%>
        <div class="noData">没有数据。。。</div>
        <%}%>

    </div>
<%- include footer%>