{{> header}}

    <div class="archive det">
        {{#each groups as |group|}}

            <dl>
                <dt>{{group.archive}}</dt>
                {{#each group.posts as |post|}}
                <dd>
                    <span>{{post.time}}</span>
                    <a href="/article/{{ post.id}}">{{post.title}}</a>
                    (作者：<a href="/user/{{ post.userName }}">{{post.userName}}</a>)
                </dd>
                {{/each}}
                {{#if group.more}}
                    <a href="/archives/{{group.archive}}">>>More</a>
                {{/if}}
            </dl>


        {{else}}
        <div class="noData">没有数据。。。</div>
        {{/each}}

    </div>
{{> footer}}