{{>header}}

    <div class="article det">
        <ul class="list">
            <li>
                <div><h2>{{post.title}}</h2></div>
                {{#if user}}
                    {{#if op}}
                        <div class="edit">
                            <a href="/edit/{{post._id}}" class="edit">编辑</a> |
                            <a href="/remove/{{post._id}}" class="edit">删除</a>
                        </div>
                    {{/if}}
                    {{#if reprint}}
                        <div class="edit">
                            <a href="/reprint/{{post._id}}" class="edit">转载</a>
                        </div>
                    {{/if}}
                {{/if}}
                <div class="info">
                    作者：<a href="/user/{{post.userId}}">{{post.userName}}</a> | 日期：{{post.time}} | 阅读:{{post.pv}} | 评论：{{post.commentCnt}} | 转载：{{post.reprintCnt}}
                </div>

                <div class="tags">
                    <span>标签：</span>
                    {{#each post.tags}}
                    <a href="/tags/{{.}}" class="tag">{{.}}</a>
                    {{/each}}
                </div>
                <div class="post">{{post.content}}</div>
            </li>
        </ul>

        {{#if post.reprintFrom}}
            <div class="reprintFrom info">转载自：<a href="/article/<%= post.reprint.from.name %>/<%= post.reprint.from._id %>">http://localhost/article/<%= post.reprint.from.name %>/<%= post.reprint.from._id %></a></div>
        {{/if}}

        {{> comments }}


    </div>

{{>footer}}