<%- include header %>

  <div class="post">
    <form action="/edit/<%=user.name%>/<%=post._id%>" method="post">
        标题：<br/>
        <input value="<%= post.title %>" name="title" type="text" disabled /><br>
        <%if(post.tags.length){%>
        标签：<br>
            <%post.tags.forEach(function(tag){%>
            <input type="text" name="tag" value="<%=tag%>" disabled/>
            <%});%>
        <br>
        <%}%>
        正文：<br/>
        <textarea name="post" cols="50" rows="10"><%= post.post %></textarea><br/>
        <input type="hidden" name="_id" value="<%= post._id %>"/>
        <input type="submit" value="提交"/>
    </form>
  </div>

<%- include footer %>