{{> header}}

    <div class="user det">
        <div class="userBox">
            <div class="face"><img src="/images/faces/{{author.face}}" alt=""/></div>
            <div class="info">
                <p>用户名：{{author.name}}</p>
                <p>邮箱：{{author.email}}</p>
                <p>注册时间：{{author.regTime}}</p>
            </div>
        </div>
        {{#if posts}}
        {{> postList }}
        {{else}}
        <div class="noData">没有数据。。。</div>
        {{/if}}
    </div>

{{> footer}}